@using Microsoft.AspNet.Identity
@using TrashCollector2.Models
@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm", @class = "navbar-right" }))
    {
    @Html.AntiForgeryToken()

    <ul class="nav navbar-nav navbar-right">
        <li>
            @{
                var loggedInId = User.Identity.GetUserId();
                var loggedInName = User.Identity.GetUserName();
                if (loggedInId != null)
                {
                    string userId = User.Identity.GetUserId();
                    ApplicationDbContext db = new ApplicationDbContext();
                    if (User.IsInRole("Customer"))
                    {
                        var customer = (from c in db.Customers where c.UserId == userId select c).FirstOrDefault();
                        if (customer != null)
                        {
                            loggedInName = customer.FullName;
                        }
                    }
                    else
                    {
                        var employee = (from e in db.Employees where e.UserId == userId select e).FirstOrDefault();
                        if (employee != null)
                        {
                            loggedInName = employee.FullName;
                        }
                    }

                }

            }
            @Html.ActionLink("Hello " + loggedInName + "!", "Index", "Manage", routeValues: null, htmlAttributes: new { title = "Manage" })&nbsp;&nbsp;
        </li>
        <li><a href="javascript:document.getElementById('logoutForm').submit()">Log off</a></li>
    </ul>
    }
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li>@Html.ActionLink("Register", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink" })</li>&nbsp;&nbsp;&nbsp;
        <li>@Html.ActionLink("Log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })</li>
    </ul>
}
