
<!DOCTYPE HTML>
<html>
<head>
    <title>Best In Town Recycling</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/HomeStyles/assets/css/main.css" type="text/css"/>
</head>
<body class="is-preload">

    <!-- Header -->
    <header id="header">
        <h1>Best In Town Recycling</h1>
        <p>
            A hometown style recycling and garbage collecting service,<br />
            purposefully created to serve your every recycling need in an environmentally<br />
            responsible fashion.
        </p>
    </header>

    <!-- Signup Form -->
    @using (Html.BeginForm())
    {
        <text><form id="signup-form">
            <input type="submit" value="Sign Up" />
        </form></text>
    }
    @*<div class="col-sm-6 col-sm-offset-3">
            <a class="btn btn-block" id="signup-form" href="~/Account/Register" target="_self">Register</a>
        </div>*@

    <!-- Footer -->
    <!-- Scripts -->
    <script src="~/Content/HomeStyles/assets/js/main.js" type="text/javascript"></script>

</body>
</html>


@*@{
        ViewBag.Title = "Home Page";
    }

    <div class="jumbotron">
        <h1>ASP.NET</h1>
        <p class="lead">ASP.NET is a free web framework for building great Web sites and Web applications using HTML, CSS and JavaScript.</p>
        <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
    </div>

    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                ASP.NET MVC gives you a powerful, patterns-based way to build dynamic websites that
                enables a clean separation of concerns and gives you full control over markup
                for enjoyable, agile development.
            </p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301865">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Get more libraries</h2>
            <p>NuGet is a free Visual Studio extension that makes it easy to add, remove, and update libraries and tools in Visual Studio projects.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301866">Learn more &raquo;</a></p>
        </div>
        <div class="col-md-4">
            <h2>Web Hosting</h2>
            <p>You can easily find a web hosting company that offers the right mix of features and price for your applications.</p>
            <p><a class="btn btn-default" href="https://go.microsoft.com/fwlink/?LinkId=301867">Learn more &raquo;</a></p>
        </div>
    </div>*@