@model TrashCollector2.Models.Customer

@{
    ViewBag.Title = "Delete";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete your account?</h3>
<div>
    <h4></h4>
    <hr />
    <dl class="dl-horizontal">
    
    

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-danger" />&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" class="btn btn-success" value="Cancel" onclick="location.href='@Url.Action("CustomerHome", "Customers")'" />
        </div>
    }
</div>
