@model TrashCollector2.Models.Customer

@{
    ViewBag.Title = "PayForPickupsConfirmed";
}

<h2>PayForPickupsConfirmed</h2>

<h5>
    Thank you for confirming your payment! Click @Html.ActionLink("here", "CustomerHome") to return home!
</h5>