@{ Layout = null; }


@{
    ViewBag.Title = "DisplayError";
}


<html>
<head>
    <link href="/Content/css/style.css" rel="stylesheet" type="text/css"  media="all" />
</head>
<body>
<!--start-wrap--->
<div class="wrap">
    <!---start-header---->
    @*<div class="header">
        <div class="logo">
            <h1><a href="#">Ohh</a></h1>
        </div>
    </div>*@
    <!---End-header---->
    <!--start-content------>
    <div class="content">
        <img src="/Content/images/error-img.png" title="error" />
        <p><span><label>O</label>hh.....</span> Looks like we didn't find what you're looking for!</p>
        @Html.ActionLink("Try Again?", "Index", "Home")
    </div>
    <!--End-Cotent------>
</div>
<!--End-wrap--->
</body>
</html>

