@model IEnumerable<TrashCollector2.Models.Customer>

@{
    ViewBag.Title = "SeeCustomersOnMap";
}
@{ List<string> addresses = new List<string>(); }

@foreach (var item in Model)
{
    
        string address = item.StreetAddress + ", " + item.ZipCode.ToString();
        addresses.Add(address);
    
}

<h2>SeeCustomersOnMap</h2>

<section class="scripts">
    <script>
        function initMap() {
            var bounds = new google.maps.LatLngBounds;
            var markersArray = [];
            var origin1 = "333 N Plankinton Ave, Milwaukee, WI";
            var homeIcon = "http://maps.google.com/mapfiles/ms/icons/homegardenbusiness.png";
            var destIcon = "http://maps.google.com/mapfiles/ms/icons/flag.png";

            var destinationArray = [];

            @foreach (var a in addresses)
        {
            <text> destinationArray.push("@a"); </text>
        }
            //<img src="~/Content/Icon/Webp.net-resizeimage.png" />
            //var destinationIcon = 'https://chart.googleapis.com/chart?' +
            //    'chst=d_map_pin_letter&chld=D|FF0000|000000';
            var destinationIcon = destIcon;
            var originIcon = homeIcon;
            var map = new google.maps.Map(document.getElementById('map'), {
                center: { lat: 55.53, lng: 9.4 },
                zoom: 10
            });
            var geocoder = new google.maps.Geocoder;

            var service = new google.maps.DistanceMatrixService;
            service.getDistanceMatrix({
                origins: [origin1],
                destinations: destinationArray,
                travelMode: 'DRIVING',
                unitSystem: google.maps.UnitSystem.IMPERIAL,
                avoidHighways: false,
                avoidTolls: false
            }, function (response, status) {
                if (status !== 'OK') {
                    alert('Error was: ' + status);
                } else {
                    var originList = response.originAddresses;
                    var destinationList = response.destinationAddresses;
                    deleteMarkers(markersArray);

                    var showGeocodedAddressOnMap = function (asDestination) {
                        var icon = asDestination ? destinationIcon : originIcon;
                        return function (results, status) {
                            if (status === 'OK') {
                                map.fitBounds(bounds.extend(results[0].geometry.location));
                                markersArray.push(new google.maps.Marker({
                                    map: map,
                                    position: results[0].geometry.location,
                                    icon: icon
                                }));
                            } else {
                                alert('Geocode was not successful due to: ' + status);
                            }
                        };
                    };

                    for (var i = 0; i < originList.length; i++) {
                        var results = response.rows[i].elements;
                        geocoder.geocode({ 'address': originList[i] },
                            showGeocodedAddressOnMap(false));
                        for (var j = 0; j < results.length; j++) {
                            geocoder.geocode({ 'address': destinationList[j] },
                                showGeocodedAddressOnMap(true));
                        }
                    }
                }
            });
        }

        function deleteMarkers(markersArray) {
            for (var i = 0; i < markersArray.length; i++) {
                markersArray[i].setMap(null);
            }
            markersArray = [];
        }
    </script>


    <script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGvhu29zeuR47fvfZF6LFwtErw3wkqx8M&callback=initMap">

    </script>

    <div id="map" style="width : 700px; height : 400px; margin : 0px; padding : 0px; float : left; margin-right:20px;">

    </div>
    </section>